<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    <servlet>-->
<!--        <servlet-name>RegietServlet</servlet-name>-->
<!--        <servlet-class>web.RegietServlet</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>RegietServlet</servlet-name>-->
<!--        <url-pattern>/regietServlet</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>UserServlet</servlet-name>-->
<!--        <servlet-class>web.UserServlet</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>UserServlet</servlet-name>-->
<!--        <url-pattern>/userServlet</url-pattern>-->
<!--    </servlet-mapping>-->


<!--    <servlet>-->
<!--        <servlet-name>userServlet</servlet-name>-->
<!--        <servlet-class>web.UserServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>userServlet</servlet-name>-->
<!--        <url-pattern>/userServlet</url-pattern>-->
<!--    </servlet-mapping>-->



    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>web.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/manager/bookServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ClientBookServlet</servlet-name>
        <servlet-class>web.ClientBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientBookServlet</servlet-name>
        <url-pattern>/client/bookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/kaptcha.jpg</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>web.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
</web-app>